ice3/opencds-ice-service/src/main/knowledge/schema/OpenCDSCodeSystems.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2011 rel. 3 (x64) (http://www.altova.com)-->
<!--<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:dss="http://www.omg.org/spec/CDSS/201105/dss" xmlns:dt="org.opencds.vmr.v1_0.schema.datatypes" xmlns:kme="org.opencds.km.executionEngines" targetNamespace="org.opencds.km.executionEngines">-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tcs="org.opencds.term.codeSystem" targetNamespace="org.opencds.term.codeSystem">
	<xs:complexType name="CodeSystem">
		<xs:attribute name="codeSystemOID" type="xs:string" use="required"/>
		<xs:attribute name="codeSystemDisplayName" type="xs:string" use="required"/>
		<xs:attribute name="apelonNamespaceName" type="xs:string"/>
		<xs:attribute name="isApelonOntylog" type="xs:boolean"/>
	</xs:complexType>
	<xs:complexType name="CodeSystems">
		<xs:sequence>
			<xs:element name="codeSystem" type="tcs:CodeSystem" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="codeSystems" type="tcs:CodeSystems"/>
</xs:schema>
