opencds-ice-service/src/main/resources/schema/cdsOutput.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:out="org.opencds.vmr.v1_0.schema.cdsoutput" xmlns:dt="org.opencds.vmr.v1_0.schema.datatypes" xmlns:vmr="org.opencds.vmr.v1_0.schema.vmr" targetNamespace="org.opencds.vmr.v1_0.schema.cdsoutput">
	<xs:annotation>
		<xs:documentation>Specifies output data generated by CDS systems.</xs:documentation>
	</xs:annotation>
	<xs:import namespace="org.opencds.vmr.v1_0.schema.datatypes" schemaLocation="datatypes.xsd"/>
	<xs:import namespace="org.opencds.vmr.v1_0.schema.vmr" schemaLocation="vmr.xsd"/>
	<xs:complexType name="CDSOutput">
		<xs:annotation>
			<xs:documentation>The parent class containing the data used by a CDS system to communicate inferences.  Can use the vMR data structure or a base data type to communicate the results.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="vmrOutput" type="vmr:VMR" minOccurs="0"/>
			<xs:element name="simpleOutput" type="dt:ANY" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="cdsOutput" type="out:CDSOutput"/>
</xs:schema>
