opencds-ice-service/src/main/resources/schema/opencds-decision-support-service-config.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="org.opencds.opencds-decision-support-service-config" xmlns:altova="http://www.altova.com/xml-schema-extensions" targetNamespace="org.opencds.opencds-decision-support-service-config" elementFormDefault="qualified">-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ocds="org.opencds.opencds-decision-support-service-config" xmlns:altova="http://www.altova.com/xml-schema-extensions" targetNamespace="org.opencds.opencds-decision-support-service-config">
	<xs:complexType name="Knowledge-repository-config">
		<xs:annotation>
			<xs:documentation>Contains the type of repository, and the configuratioin settings for the selected type</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="knowledge-repository-type">
				<xs:annotation>
					<xs:documentation>valid values are "SIMPLE_FILE", "DATABASE"</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:attribute name="type" type="xs:string">
						<xs:annotation>
							<xs:appinfo>
								<!--<altova:exampleValues>
									<altova:example value="SIMPLE_FILE"/>
								</altova:exampleValues>-->
							</xs:appinfo>
							<xs:appinfo>
								<altova:exampleValues>
									<altova:example value="SIMPLE_FILE"/>
								</altova:exampleValues>
							</xs:appinfo>
						</xs:annotation>
					</xs:attribute>
				</xs:complexType>
			</xs:element>
			<xs:choice>
				<xs:element name="knowledge-repository-full-path">
					<xs:annotation>
						<xs:documentation>full path to location of folder or directory containing knowledge repository files in defined structure: 

(root folder or directory)
    apelon
    conceptMappingSpecifications
        autoGeneratedMappings
        manualMappings
    knowledgeModules
    resourceAttributes
    schema
    templates

NOTE: this must be a valid path for the machine running the Application Server </xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:attribute name="fullPath" type="xs:string">
							<xs:annotation>
								<xs:appinfo>
									<!--<altova:exampleValues>
												<altova:example value="c:/OpenCDS/knowledge-repository-data"/>
											</altova:exampleValues>-->
								</xs:appinfo>
								<xs:appinfo>
									<altova:exampleValues>
										<altova:example value="C:/OpenCDS/opencds-knowledge-repository-data/src/main/resources"/>
									</altova:exampleValues>
								</xs:appinfo>
							</xs:annotation>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
				<xs:element name="knowledge-repository-database-config" type="ocds:Knowledge-repository-database-config">
					<xs:annotation>
						<xs:documentation>to be expanded when implemented...</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Knowledge-repository-database-config">
		<xs:annotation>
			<xs:documentation>to be expanded as required when implemented...</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:any/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Opencds-decision-support-service-config">
		<xs:annotation>
			<xs:documentation>root type</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="knowledge-repository-config" type="ocds:Knowledge-repository-config"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="opencds-decision-support-service-config" type="ocds:Opencds-decision-support-service-config">
		<xs:annotation>
			<xs:documentation>root element</xs:documentation>
		</xs:annotation>
	</xs:element>
</xs:schema>
