ice3/opencds-ice-service-data/src/main/resources/schema/OmgDssKmMetadata.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:dss="http://www.omg.org/spec/CDSS/201105/dss" xmlns:dt="org.opencds.vmr.v1_0.schema.datatypes" xmlns:kmm="org.opencds.km.metadata.v1_0" targetNamespace="org.opencds.km.metadata.v1_0">
	<xs:annotation>
		<xs:documentation>Structure for OpenCDS Knowledge Module Metadata in Knowledge Repository</xs:documentation>
	</xs:annotation>
	<xs:import namespace="org.opencds.vmr.v1_0.schema.datatypes" schemaLocation="datatypes.xsd"/>
	<xs:import namespace="http://www.omg.org/spec/CDSS/201105/dss" schemaLocation="OmgDssSchema.xsd"/>
	<xs:simpleType name="language">
		<xs:annotation>
			<xs:documentation>Language shall be specifiied as either a 2-character ISO 639-1 language code or a combination of a 2-character ISO 639-1 language code and a 2-character ISO 3166-1 geographical code, concatenated with a hyphen. Example valid language specifications include: “en,” “en-US,” “en-GB,” and “fr.” ISO 639-1 codes are available at http://www.loc.gov/standards/iso639-2/php/English_list.php, and ISO 3166-1 codes are available at http://www.iso.org/iso/english_country_names_and_code_elements.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:complexType name="Entity">
		<xs:annotation>
			<xs:documentation>A physical thing, group of physical things or an organization. </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="id" type="dt:II" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The entity's unique identifier. Should be an OID.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="templateId" type="dt:II" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>The identifier of a set of constraints placed on an Entity.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="entityType" type="dt:CD" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The specific type of entity.  E.g., healtchare organization, medical facility, pacemaker.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Organization">
		<xs:annotation>
			<xs:documentation>An Entity representing a formalized group of persons or other organizations with a common purpose and the infrastructure to carry out that purpose.  E.g., a healthcare delivery organization.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="kmm:Entity">
				<xs:sequence>
					<xs:element name="name" type="dt:EN" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>A word or a combination of words by which a person is known.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="address" type="dt:AD" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>The place or the name of the place where a person is located or may be reached.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="telecom" type="dt:TEL" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>A locatable resource of a person that is identified by a URI, such as a web page, a telephone number (voice, fax or some other resource mediated by telecommunication equipment), an e-mail address, or any other locatable resource that can be specified by a URL.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Person">
		<xs:annotation>
			<xs:documentation>A human being.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="kmm:Entity">
				<xs:sequence>
					<xs:element name="name" type="dt:EN" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>A word or a combination of words by which a person is known.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="address" type="dt:AD" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>The place or the name of the place where a person is located or may be reached.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="telecom" type="dt:TEL" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>A locatable resource of a person that is identified by a URI, such as a web page, a telephone number (voice, fax or some other resource mediated by telecommunication equipment), an e-mail address, or any other locatable resource that can be specified by a URL.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="KMMetadata" abstract="false">
		<xs:annotation>
			<xs:documentation>Metadata about individual knowledge modules (KMs).</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="identifier" type="dss:EntityIdentifier">
				<xs:annotation>
					<xs:documentation>The unique identifier for the KM.  It is a DSS Entity ID</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="stewardOrganization" type="kmm:Organization" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The organization acting as the steward of the KM.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="creationDate" type="xs:dateTime" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Date KM was first created</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="lastReviewDate" type="xs:dateTime" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Date when KM was last reviewed for accuracy</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="authorList" minOccurs="0">
				<xs:annotation>
					<xs:documentation>A list of the KM’s authors. May be empty.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="author" type="kmm:Person" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="freeTextKeywordList" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>A list of free texxt keywords that characterize the KM.  May be empty.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="freeTextKeyword" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
					<xs:attribute name="language" type="kmm:language" use="required"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="codedValueKeywordList" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>A list of coded values keywords that characterize the KM.  May be empty.  Use of SNOMED CT is encouraged.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="codedValueKeyword" type="dt:CD" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
					<xs:attribute name="language" type="kmm:language" use="required"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="purpose" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>The purpose of a KM, intended for a medical informaticist</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:string">
							<xs:attribute name="language" type="kmm:language" use="required"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="explanation" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>An explanation of how the KM uses the required data to generate evaluation results, intended for a medical
1057 informaticist</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:string">
							<xs:attribute name="language" type="kmm:language" use="required"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="executionEngine" type="xs:string">
				<xs:annotation>
					<xs:documentation>Fully qualified package name of the OpenCDS execution engine, from an enumeration maintained in OpenCDS</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="dataModel" type="xs:string">
				<xs:annotation>
					<xs:documentation>Fully qualified package name of the OpenCDS data model, from an enumeration maintained in OpenCDS</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="knowledgeModulePrimaryProcessName" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>String identifying the name of the primary process for the knowledge module.  This only applies to BPMN and PKG files for Drools.  This element is required if the knowledge module has a file extension of ".pkg" or ".bpmn", however, it may be an empty string if a PKG file is built from a DRL file which does not contain any BPMN processes.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="inputDataRequirements" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Specifies the specific CDS input data required for a specific CDS use case.

Specifies the clinical statements required regarding the evaluated person of interest. Can include CodedAttributeRequirements and TimeAttributeRequirements.

If no CodedAttributeRequirement specified, all relevant clinical statements are required regardless of their coded attributes. If no TimeAttributeRequirement specified, all relevant clinical statements are required regardless of their time attributes. All specified CodedAttributeRequirements and TimeAttributeRequirements should be fulfilled in provided ClinicalStatements.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="outputDataRequirements" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Specifies the clinical statements produced regarding the evaluated person of interest. </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="supportedLanguage" type="kmm:language" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Language shall be specifiied as either a 2-character ISO 639-1 language code or a combination of a 2-character ISO 639-1 language code and a 2-character ISO 3166-1 geographical code, concatenated with a hyphen. Example valid language specifications include: “en,” “en-US,” “en-GB,” and “fr.” ISO 639-1 codes are available at http://www.loc.gov/standards/iso639-2/php/English_list.php, and ISO 3166-1 codes are available at http://www.iso.org/iso/english_country_names_and_code_elements.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="KMMetadataList">
		<xs:annotation>
			<xs:documentation>List of Metadata about individual knowledge modules (KMs)</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="kmMetadata" type="kmm:KMMetadata" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="kmMetadataList" type="kmm:KMMetadataList">
		<xs:annotation>
			<xs:documentation>Element for KMMetadataList</xs:documentation>
		</xs:annotation>
	</xs:element>
</xs:schema>
