opencds/opencds-documentation/SourceMaterialAndNotes/Models/cdsOutput.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:annotation>
		<xs:documentation>Specifies output data generated by CDS systems.</xs:documentation>
	</xs:annotation>
	<xs:include schemaLocation="vmr.xsd"/>
	<xs:include schemaLocation="datatypes.xsd"/>
	<xs:complexType name="CDSOutput">
		<xs:annotation>
			<xs:documentation>The parent class containing the data used by a CDS system to communicate inferences.  Can use the vMR data structure or a base data type to communicate the results.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="vmrOutput" type="VMR" minOccurs="0"/>
			<xs:element name="simpleOutput" type="ANY" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="cdsOutput" type="CDSOutput"/>
</xs:schema>
